{{#each errors}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{ text }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/each}}

<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card mt-4">
      <div class="card-header">
        <h3 class="card-title">Registrame</h3>
      </div>
      <div class="card-body">
        <form action="/users/singup" method="POST">
          <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input
              type="text"
              class="form-control"
              name="name"
              id="name"
              aria-describedby="nameID"
              placeholder="Escribe tu nombre"
              value="{{name}}"
              autofocus
            />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Correo</label>
            <input
              type="text"
              class="form-control"
              name="email"
              id="email"
              aria-describedby="emailID"
              placeholder="Escribe tu correo"
              value="{{email}}"
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Contrase単a</label>
            <input
              type="password"
              class="form-control"
              name="password"
              id="password"
              value="{{password}}"
              placeholder="Escribe una contrase単a"
            />
          </div>
          <div class="mb-3">
            <label for="checkpassword" class="form-label">Confirmar contrase単a</label>
            <input
              type="password"
              class="form-control"
              name="checkpassword"
              id="checkpassword"
              placeholder="Confirmar contrase単a"
              value="{{checkpassword}}"
            />
          </div>
          <input class="btn btn-success" type="submit" value="Registrarme" />
        </form>
      </div>
    </div>
  </div>
</div>